{% extends 'base.html.twig' %}

{% block title %}Playoff index{% endblock %}

{% block body %}
    <h1>Playoff index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playoff in playoffs %}
            <tr>
                <td>{{ playoff.id }}</td>
                <td>
                    <a href="{{ path('playoff_show', {'id': playoff.id}) }}">show</a>
                    <a href="{{ path('playoff_edit', {'id': playoff.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('playoff_new') }}">Create new</a>
{% endblock %}
